@import "../../node_modules/material-design-icons/iconfont/material-icons.css";
@import "./materialize.min.css";

html, body {
    height: 100%;
    background: url("../images/swirl_pattern.png");
    background-repeat: repeat;
}

#main {
    position: relative;
    min-height: 100vh;
}

#main-beers {
    padding-bottom: 100px;
    margin-bottom: 0;
}

footer {
    position: absolute;
    bottom: 0;
    border-top: 3px solid #ffc107;
    width: 100%;
    padding: 10px;
}

header #header-img {
    position: relative;
}

header #header-img picture img {
    position: relative;
    z-index: 100;
}

.bg-header {
    width: 100%;
    min-height: 180px
}

.main-search {
    position: absolute;
    top: 25%;
    left: 10%;
    z-index: 200;
    width: 80%;
}


.main-search input[type="search"] {
    -webkit-appearance: none;
    appearance: none;
    background: #ffffff;
    padding: 0 10px;
    border-bottom: none !important;
    box-shadow: none !important;
    flex: 10;
    margin: 5px;
    
}

.main-search button[type="submit"] {
    -webkit-appearance: none;
    flex: 2;
    margin: 5px;
    height: auto;
    min-width: min-content;
}

#header-img #date-filter{
    position: absolute;
    top: 61%;
    left: 11%;
    z-index: 200;
}

#header-img span.badge {
    float: left;
    margin-left: 0;
    margin-right: 14px;
}

#header-img input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    border-bottom: 0;
    width: auto;
    height: auto;
}

.card {
    overflow: hidden;
}
.card .card-image .beer-thumb {
    object-fit: contain;
    height: 245px;
    padding-top: 5px;
}

.card .card-reveal p {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.card .card-reveal .card-title {
    cursor: auto;
}
.card .card-reveal .card-close {
    cursor: pointer;
}

.card .card-reveal.reveal {
    transform: translateY(-100%);
    transition: transform 1s;
}

.card .card-reveal {
    transform: translateY(0%);
    display: block;
    transition: transform 1s;
}

.like {
    cursor: pointer;
    width: 16px;
}
.liked {
    color: #1b5e20;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

#loader {
    position: fixed;
    z-index: 200;
    top: 0;
    background: rgba(3,3,3,0.7);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#loader .spinner {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.like-loader {
    position: absolute;
    width: 100%;
    bottom: -16px;
}


/* UTILITY CLASSES */
.pt-3 {
    padding-top: 3em
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-ai-end {
    align-items: end;
}


/* MEDIA QUERIES */
@media screen and (min-width: 993px){
    
    .card .card-content .card-title {
        color: #fff;
        width: 100%;
        min-height: 48px;
        font-size: 1rem;
        font-weight: 900;
        line-height: 1.2;
    }
}

@media screen and (min-width: 640px) and (max-width: 992px){
    .card .card-content .card-title {
        min-height: 64px;
    }
}

@media screen and (min-width: 601px) and (max-width: 639px) {
    .card .card-content .card-title {
        min-height: 96px;
    }
}