@import "../../node_modules/material-design-icons/iconfont/material-icons.css";
@import "./materialize.min.css";

html, body {
    height: 100%;
    background: url("../images/swirl_pattern.png");
    background-repeat: repeat;
}

.bg-header {
    width: 100%;
}

footer {
    position: absolute;
    height: 150px;
    bottom: 0;
    border-top: 3px solid #ffc107;
    /* background: url("../images/wov.png");
    background-repeat: repeat; */
    width: 100%;
    padding: 10px;
}


.pt-3 {
    padding-top: 3em
}

/* Screen width	Smallest screen height	In use worldwide
1024 px	768 px	3%
1280 px	800 px	11%
1360 px	768 px	2%
1366 px	768 px	35%
1440 px	900 px	6%
1600 px	900 px	6%
1680 px	1050 px	3%
1920 px	1080 px	20%
2560 px and up	1440 px	1% */